{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Users</h3>

<a href="{{ url_for('create_user') }}" class="btn btn-primary mb-3">

Create User

</a>

<div class="card">

<div class="card-body">

<table class="table">

<thead>

<tr>
<th>ID</th>
<th>Username</th>
<th>Role</th>
<th>Action</th>
</tr>

</thead>

<tbody>

{% for user in users %}

<tr>

<td>{{ user.id }}</td>
<td>{{ user.username }}</td>
<td>{{ user.role }}</td>

<td>

<a href="/edit_user/{{ user.id }}" class="btn btn-sm btn-warning">

Edit

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}